csharp/TripsTraps/Client/Service References/TripsService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TripsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Models" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITripsService_GameUser_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:GameUser_Register" />
  </wsdl:message>
  <wsdl:message name="ITripsService_GameUser_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:GameUser_RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ITripsService_GameUser_Unregister_InputMessage">
    <wsdl:part name="parameters" element="tns:GameUser_Unregister" />
  </wsdl:message>
  <wsdl:message name="ITripsService_GameUser_Unregister_OutputMessage">
    <wsdl:part name="parameters" element="tns:GameUser_UnregisterResponse" />
  </wsdl:message>
  <wsdl:message name="ITripsService_GamePlay_Request_InputMessage">
    <wsdl:part name="parameters" element="tns:GamePlay_Request" />
  </wsdl:message>
  <wsdl:message name="ITripsService_GamePlay_Request_OutputMessage">
    <wsdl:part name="parameters" element="tns:GamePlay_RequestResponse" />
  </wsdl:message>
  <wsdl:message name="ITripsService_GamePlay_Show_InputMessage">
    <wsdl:part name="parameters" element="tns:GamePlay_Show" />
  </wsdl:message>
  <wsdl:message name="ITripsService_GamePlay_Show_OutputMessage">
    <wsdl:part name="parameters" element="tns:GamePlay_ShowResponse" />
  </wsdl:message>
  <wsdl:message name="ITripsService_GamePlay_Move_InputMessage">
    <wsdl:part name="parameters" element="tns:GamePlay_Move" />
  </wsdl:message>
  <wsdl:message name="ITripsService_GamePlay_Move_OutputMessage">
    <wsdl:part name="parameters" element="tns:GamePlay_MoveResponse" />
  </wsdl:message>
  <wsdl:portType name="ITripsService">
    <wsdl:operation name="GameUser_Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ITripsService/GameUser_Register" message="tns:ITripsService_GameUser_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITripsService/GameUser_RegisterResponse" message="tns:ITripsService_GameUser_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameUser_Unregister">
      <wsdl:input wsaw:Action="http://tempuri.org/ITripsService/GameUser_Unregister" message="tns:ITripsService_GameUser_Unregister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITripsService/GameUser_UnregisterResponse" message="tns:ITripsService_GameUser_Unregister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GamePlay_Request">
      <wsdl:input wsaw:Action="http://tempuri.org/ITripsService/GamePlay_Request" message="tns:ITripsService_GamePlay_Request_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITripsService/GamePlay_RequestResponse" message="tns:ITripsService_GamePlay_Request_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GamePlay_Show">
      <wsdl:input wsaw:Action="http://tempuri.org/ITripsService/GamePlay_Show" message="tns:ITripsService_GamePlay_Show_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITripsService/GamePlay_ShowResponse" message="tns:ITripsService_GamePlay_Show_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GamePlay_Move">
      <wsdl:input wsaw:Action="http://tempuri.org/ITripsService/GamePlay_Move" message="tns:ITripsService_GamePlay_Move_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITripsService/GamePlay_MoveResponse" message="tns:ITripsService_GamePlay_Move_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITripsService" type="tns:ITripsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GameUser_Register">
      <soap:operation soapAction="http://tempuri.org/ITripsService/GameUser_Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameUser_Unregister">
      <soap:operation soapAction="http://tempuri.org/ITripsService/GameUser_Unregister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GamePlay_Request">
      <soap:operation soapAction="http://tempuri.org/ITripsService/GamePlay_Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GamePlay_Show">
      <soap:operation soapAction="http://tempuri.org/ITripsService/GamePlay_Show" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GamePlay_Move">
      <soap:operation soapAction="http://tempuri.org/ITripsService/GamePlay_Move" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TripsService">
    <wsdl:port name="BasicHttpBinding_ITripsService" binding="tns:BasicHttpBinding_ITripsService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server.Services/TripsService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>